.cloud-bg {
  max-width: 650px;
  height: 326px;
  border: 1px solid green;
  background-image: url("../images/Cloud-background.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 564px; /* 650px in 1440px */
  background-blend-mode: soft-light;
}
